/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.nav-container {
 /* Change to a complementary color to beige green */
 background-color: beige; /* Change to beige color */
 text-decoration-color: black;
 color: black; /* Set text color to black */
 padding: 20px;
 overflow: auto; /* Clear floats */
 margin-bottom: -20px; /* Remove white space between navbar and home screen */
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container ul li {
  display: inline;
  margin-right: 10px;
}

.nav-container ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

.nav-container ul li a:hover {
  text-decoration: underline;
}
