/* LoginPage.css */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .login-form {
    width: 30%;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  